@import "../../../../theme/shared/utils";

.context-menu-item{
    font-size: 0.9rem;
    padding: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;

    mat-icon{
        @include icon-size(1.4rem);
    }

    &:hover{
        background-color: var(--system-overlay);
    }
}
