@import "../../../../../theme/shared/utils";

h1{
    @include logo-font;
    text-align: center;
    font-size: 3rem;
    margin: 20px 20px 50px 20px;

    &:after{
        @include reflect('Open');
    }
}

ul{
    list-style-type: none;

    li{
        font-size: 1rem;
        margin: 5px;

        span{
            font-size: 0.8rem;
            font-weight: 700;
            text-transform: uppercase;

            &::after {
                content: '·';
                color: var(--system-color-secondary);
                margin: 0 10px;
                font-size: 1.5rem;
                vertical-align: bottom;
            }
        }
    }

    a{
        color: var(--system-color-light);
    }
}
