@import "../../../theme/shared/utils";

.app-center{
    @include window-default-container;
    padding: 20px;

    .apps{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        column-gap: 10px;

        .app{
            display: flex;
            align-items: center;
            border-bottom: 1px solid var(--system-overlay);
            padding: 5px 10px;

            .app-summary{
                flex: 1;
                display: flex;
                font-size: 1.2rem;
                padding: 20px;

                mat-icon{
                    font-size: 2.2rem;
                    margin-right: 5px;
                }
            }

            &:last-child{
                border-bottom: none;
            }
        }
    }
}
