@import "../../../theme/shared/utils";

.calculator{
    @include window-default-container;
    display: flex;
    flex-direction: column;

    &-screen{
        font-size: 2rem;
        padding: 10px;
        height: calc(2rem + 10px);
        margin: 2px;

        background-color: #7f8c8d;
        color: var(--system-color-light);

        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-pad{
        flex: 1;
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(4, 1fr);
        gap: 2px;
        margin: 2px;
    }

    .key{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        background-color: #34495e;
        color: var(--system-color-light);
        cursor: pointer;
        user-select: none;

        &-main{
            background-color: var(--system-color-secondary);
        }

        &-operation{
            background-color: #2c3e50;
        }
    }
}
