$md-primary: (
    50 : #e8e8e8,
    100 : #c5c5c5,
    200 : #9e9e9e,
    300 : #777777,
    400 : #5a5a5a,
    500 : #3d3d3d,
    600 : #373737,
    700 : #2f2f2f,
    800 : #272727,
    900 : #1a1a1a,
    A100 : #f07474,
    A200 : #ea4646,
    A400 : #fd0000,
    A700 : #e40000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #e5f0f7,
    100 : #bfd9ea,
    200 : #94c0dc,
    300 : #69a6ce,
    400 : #4993c4,
    500 : #2980b9,
    600 : #2478b2,
    700 : #1f6daa,
    800 : #1963a2,
    900 : #0f5093,
    A100 : #c3deff,
    A200 : #90c3ff,
    A400 : #5da7ff,
    A700 : #4499ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warn: (
    50 : #f7e7e6,
    100 : #ecc4bf,
    200 : #e09c95,
    300 : #d3746b,
    400 : #c9574b,
    500 : #c0392b,
    600 : #ba3326,
    700 : #b22c20,
    800 : #aa241a,
    900 : #9c1710,
    A100 : #ffcfcd,
    A200 : #ff9e9a,
    A400 : #ff6c67,
    A700 : #ff544d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
