@use '~@angular/material' as mat;
@include mat.core();

@import "palettes";
@import "varibles";

$my-primary: mat.define-palette($md-primary);
$my-accent: mat.define-palette($md-accent);
$my-warn: mat.define-palette($md-warn);

$my-theme: mat.define-dark-theme((
    color: (
        primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn,
    )
));

@include mat.all-component-themes($my-theme);


