.notification{
    background-color: var(--system-color-light);
    color: var(--system-color-primary);
    border-left: 3px solid var(--system-color-secondary);
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border-radius: 3px;
    pointer-events: all;
    user-select: none;

    &.error{
        border-color: var(--system-color-warn);
    }
    &.success{
        border-color: var(--system-color-confirm);
    }
}
