// ----- Generic -----

@mixin reflect($content){
    content: $content;
    display: block;
    transform: rotatex(180deg) translateY(-1rem);
    line-height: 1;
    mask-image: linear-gradient(transparent 40%, white 100%);
    filter: blur(2px);
}

@mixin icon-size($size){
    font-size: $size;
    width: $size;
    height: $size;
}

// ----- System container -----

@mixin window-default-container{
    height: 100%;
    overflow: auto;
    background-color: var(--system-color-primary);
    color: var(--system-color-light);
    @include window-scrollbar;
}

@mixin window-scrollbar{
    &::-webkit-scrollbar{
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.4);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--system-color-secondary);
    }
}

@mixin system-screen{
    background-color: var(--system-color-primary);
    height: 100vh;
    border-top: 4px solid var(--system-color-secondary);
    color: var(--system-color-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

// ----- Branding -----

@mixin logo-font{
    font-family: 'Gruppo', cursive;
    letter-spacing: 8px;
}
