.desktop{
    width: 100%;
    height: 100%;
    background-size: cover;

    display: flex;
    flex-direction: column;

    .desktop-workspace{
        position: relative;
        overflow: hidden;
        flex: 1;

        app-desktop-shortcut{
            height: 100%;
        }

        app-notification-live-feed{
            z-index: 1;
        }
    }

}
