<div class="file-explorer">
    <header>
        <ul class="header-navigation">
            <li>
                <mat-icon>arrow_back</mat-icon>
            </li>
            <li>
                <mat-icon>home</mat-icon>
            </li>
            <li>
                <mat-icon>arrow_forward</mat-icon>
            </li>
        </ul>

        <div class="separator"></div>

        <ol class="path-locator">
            <li><span>Fichiers</span></li>
            <li><span>Musique</span></li>
            <li><span>Rock</span></li>
            <li><span>ACDC</span></li>
        </ol>
    </header>
</div>
