@import "../../../theme/shared/utils";

.file-explorer{
    @include window-default-container;

    header{
        box-shadow: var(--system-shadow);
        padding: 5px;

        .header-navigation{
            list-style-type: none;
            margin: 0;
            padding: 0 20px 0 0;
            display: flex;
            gap: 5px;

            li{
                cursor: pointer;
                border-radius: 50%;
                padding: 5px;
                display: flex;
                align-items: center;

                &:hover{
                    background-color: var(--system-overlay);
                }
            }
        }

        .path-locator{

        }
    }
}
