@import "../../../theme/shared/utils";

.file-explorer{
    @include window-default-container;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    header{
        display: flex;
        box-shadow: var(--system-shadow);
        padding: 5px;

        ul, ol{
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .header-navigation{
            gap: 5px;

            li{
                cursor: pointer;
                border-radius: 50%;
                padding: 5px;
                display: flex;
                align-items: center;

                &.disabled{
                    pointer-events: none;
                    opacity: 0.5;
                }

                &:hover{
                    background-color: var(--system-overlay);
                }
            }
        }

        .separator{
            align-self: stretch;
            background-color: var(--system-color-secondary);
            margin: 5px 10px;
            flex: 0 0 2px;
        }

        .path-locator{
            align-items: center;
            overflow: auto;
            @include window-scrollbar;

            li{
                display: flex;
                align-items: center;
                margin: 0;
                cursor: pointer;

                span {
                    padding: 2px 7px;
                }

                &:last-child{
                    cursor: default;
                }

                &:not(:last-child){
                    &:after{
                       content: '\e5cc';
                       font-family: "Material Icons", sans-serif;
                       font-size: 1.35rem;
                       height: 100%;
                       cursor: default;
                    }

                    span:hover{
                       background-color: var(--system-overlay);
                       border-radius: 5px;
                    }
                }
            }
        }
    }

    .explorer-container{
        @include window-scrollbar;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 20px;
        padding: 20px;
        flex: 1;
        overflow: auto;
        align-content: start;

        article{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
            user-select: none;

            mat-icon{
                @include icon-size(2.5rem);
            }

            &:hover{
                background-color: var(--system-overlay);
            }
        }
    }
}
