<section class="file-explorer">
    <header>
        <ul class="header-navigation">
            <li (click)="navigateBack()" [class.disabled]="!history.length">
                <mat-icon>arrow_back</mat-icon>
            </li>
            <li (click)="navigateRoot()">
                <mat-icon>home</mat-icon>
            </li>
        </ul>

        <div class="separator"></div>

        <ol class="path-locator">
            <li *ngFor="let directory of currentDirectoryPath()">
                <span (click)="navigate(directory)">
                    {{ directory.name !== '' ? directory.name : 'Fichiers' }}
                </span>
            </li>
        </ol>
    </header>

    <div class="explorer-container" [sdkContextMenuTrigger]="contextMenu">
        <ng-container *ngIf="currentDirectory">
            <article *ngFor="let resource of currentDirectory.childs" (dblclick)="open(resource)">
                <mat-icon>{{ getIcon(resource) }}</mat-icon>
                {{ resource.name }}
            </article>
        </ng-container>
    </div>

    <sdk-context-menu #contextMenu>
        <sdk-context-menu-item icon="folder" (click)="createFolderAction()">
            Nouveau dossier
        </sdk-context-menu-item>
        <sdk-context-menu-item icon="upload">
            Importer un fichier
        </sdk-context-menu-item>
    </sdk-context-menu>
</section>
