@import "../../../theme/shared/utils";

.file-explorer{
    @include window-default-container;

    header{
        display: flex;
        box-shadow: var(--system-shadow);
        padding: 5px;

        ul, ol{
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .header-navigation{
            gap: 5px;

            li{
                cursor: pointer;
                border-radius: 50%;
                padding: 5px;
                display: flex;
                align-items: center;

                &:hover{
                    background-color: var(--system-overlay);
                }
            }
        }

        .separator{
            align-self: stretch;
            width: 2px;
            background-color: var(--system-color-secondary);
            margin: 5px 10px;
        }

        .path-locator{
            align-items: center;

            li{
                display: flex;
                align-items: center;
                margin: 0;
                cursor: pointer;

                span {
                    padding: 2px 7px;

                    &:hover{
                        background-color: var(--system-overlay);
                        border-radius: 5px;
                    }
                }

               &:not(:last-child):after{
                   content: '\e5cc';
                   font-family: "Material Icons", sans-serif;
                   font-size: 1.35rem;
                   height: 100%;
                   cursor: default;
               }
                &:last-child{
                    padding-right: 3px;
                }
            }
        }
    }
}
