.loader{
    position: relative;
    &:before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        border-radius: 50%;
        border-width: 3px;
        border-style: solid;
        border-color: var(--system-color-light) var(--system-color-light) transparent transparent;
        animation: spin 800ms linear infinite;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
