.activity{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 5px;
    gap: 5px;

    .process{
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        padding: 10px;
        cursor: pointer;
        border-top: 2px solid var(--system-color-secondary);

        mat-icon{
            height: auto;
        }

        &:hover{
            background-color: var(--system-overlay);
        }
    }
}
