@import "../../../theme/shared/utils";

.settings{
    @include window-default-container;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    header{
        box-shadow: var(--system-shadow);
        padding: 10px;
        display: flex;
        align-items: center;

        button{
            background-color: transparent;
            border: none;
            color: var(--system-color-light);
            cursor: pointer;
            margin-right: 10px;
            display: flex;
            align-items: center;
        }

        mat-icon{
            margin-right: 5px;
        }
    }

    .settings-view{
        padding: 10px;
        flex: 1;
        overflow: auto;
        @include window-scrollbar;
    }
}
