<form [formGroup]="folderForm" (ngSubmit)="create()">
    <h2 mat-dialog-title>Créer un dossier</h2>

    <mat-dialog-content>
        <mat-form-field appearance="outline" color="accent">
            <input matInput placeholder="Nom du dossier" formControlName="name" autocomplete="off">
            <mat-error>
                Vous devez saisir un nom
            </mat-error>
        </mat-form-field>
        <p *ngIf="backendError" class="form-error">
            {{ backendError.message }}
        </p>
    </mat-dialog-content>

    <mat-dialog-actions align="center" [class.loader]="loading">
        <button type="button" mat-button mat-dialog-close [disabled]="loading">Annuler</button>
        <button mat-flat-button color="accent" [disabled]="loading">Créer</button>
    </mat-dialog-actions>
</form>
