<div class="window" #window [ngStyle]="buildStyle()"
     cdkDrag cdkDragBoundary=".desktop-workspace"
     (cdkDragStarted)="drag()" (cdkDragEnded)="move($event)">

    <div class="window-header">
        <div class="window-header__name" (dblclick)="maximize()" cdkDragHandle>
            <mat-icon [inline]="true">settings</mat-icon> Paramtères
        </div>
        <div class="window-header__actions">
            <mat-icon [inline]="true">minimize</mat-icon>
            <mat-icon [inline]="true" (click)="maximize()">open_in_full</mat-icon>
            <mat-icon [inline]="true">close</mat-icon>
        </div>
    </div>

    <div class="window-body">

    </div>
</div>
