<div class="window" #window [ngStyle]="buildStyle()"
     cdkDrag cdkDragBoundary=".desktop-workspace"
     (cdkDragStarted)="drag($event)" (cdkDragEnded)="move($event)">

    <div class="window-header">
        <div class="window-header__name" (dblclick)="maximize()" cdkDragHandle>
            <mat-icon [inline]="true" [ngStyle]="{'color': win.process.activity.color}">
                {{ win.process.activity.icon }}
            </mat-icon>
            {{ win.process.activity.name }}
        </div>
        <div class="window-header__actions">
            <mat-icon [inline]="true" (click)="minimize()">minimize</mat-icon>
            <mat-icon [inline]="true" (click)="maximize()">open_in_full</mat-icon>
            <mat-icon [inline]="true" (click)="close()">close</mat-icon>
        </div>
    </div>

    <app-window-runtime class="window-body" [window]="win"></app-window-runtime>

    <app-window-handle [window]="win" (resized)="resize($event)"></app-window-handle>
</div>
