@import "../../../../theme/shared/utils";

.boot-loader{
    @include system-screen;
    gap: 80px;

    h1{
        @include logo-font;
        text-align: center;
        font-size: 3rem;

        &:after{
            @include reflect('Open');
        }
    }
}
