@import "../../../../theme/shared/utils";

.login-container{
    @include system-screen;

    h1{
        @include logo-font;
        text-align: center;
        font-size: 3rem;

        &:after{
            @include reflect('Open');
        }
    }

    .login-form{
        display: flex;
        max-width: 300px;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        padding: 20px;

        input{
            color: var(--system-color-light);
        }
    }
}
