<div class="login-container">
    <h1>Open</h1>

    <form class="login-form">
        <mat-form-field color="accent">
            <mat-label>Email</mat-label>
            <input type="email" matInput autocomplete="off">
        </mat-form-field>

        <mat-form-field color="accent">
            <mat-label>Mot de passe</mat-label>
            <input type="password" matInput>
        </mat-form-field>

        <button mat-flat-button color="accent">
            Connexion
        </button>
    </form>
</div>
